/{{id}}:
  ros__parameters:
    headless: false # if false, will open an OpenCV window to display the face; otherwise, publish the face to an image topic
    # you can add here and document any other public parameters for your skill
    parameter_name: parameter_value
    #...
